// Start off with all the same stuff as the base theme
@import "../themes/serene/sass/main";

body {
  header nav {
    overflow: auto;
    display: inline-flex;
    margin-right: 0.3em;
    white-space: nowrap;

    * {
      overflow: hidden;
      // Seems to cut off the bottom of the '[' without this padding...
      padding-bottom: 2px;
    }

    a:first-of-type {
      flex-shrink: 100;
      text-overflow: "…";
    }

    --toggle-animation-duration: 0.4s;

    #toggler {
      font-size: 0.75em;
      font-family: var(--code-font);
      // This seems to be required for certain browsers to pick up the ligatures:
      font-feature-settings: "dlig";

      padding-top: 0.3em;
      margin: 0 0.3em 0 0.1em;

      &:hover {
        color: var(--primary-color)
      }

      --toggler-initial: translate(0em, -0.1em);

      transition: transform var(--toggle-animation-duration) ease;
      transform: var(--toggler-initial);

      &.active {
        transform: translate(0em, 0.1em) rotate(-90deg);

        &.expanded {
          transform: var(--toggler-initial);
        }
      }
    }

    .fold {
      // override the display:none from the theme main.scss
      display: inline-flex;
      flex-grow: 3;

      opacity: 0;
      max-width: 0;
      margin: 0;
      overflow: hidden;

      transition: opacity ease, max-width ease, margin ease;
      transition-duration:  var(--toggle-animation-duration);
      transition-delay: 0;

      --max-fold-width: 10em;

      &.shown-custom {
        max-width: var(--max-fold-width);
        transition-delay: 0, var(--toggle-animation-duration), var(--toggle-animation-duration);
        transition-duration:  var(--toggle-animation-duration), var(--toggle-animation-duration);
      }

      &.wrap,
      &.shown-custom {
        opacity: 1;
        max-width: var(--max-fold-width);

        &.wrap-separator {
          // The default is set for a comma-separated list like `a, b, c`,
          // but I want a pipe-separated list like `a | b | c`.
          margin: 0 0.3em 0 0.3em;
        }
      }
    }
  }

  section#info #bio {
    line-height: 1.5;
  }

  // Seems that non-prose pages don't have this set by default
  pre, code, kbd, samp {
    font-family: var(--code-font);
  }

  &.projects .proj {
    pre {
      // Copied from '.prose pre'
      font-size: 0.8em;
      margin: 1.25em 0;
      padding: 12px 48px 12px 16px;
      line-height: 1.5;
      border: 1.5px solid var(--primary-color);
      overflow: auto;
    }

    img {
      float: right;
      // TODO: can't decide whether to align with the title (-2.5em) or not.
      margin: 0 0 1em 1em;
      border: 2px solid var(--text-pale-color);
    }

    .footnote-definition-label:after {
      content: " ";
    }
  }

  :not(pre)>code {
    // Copied from the equivalent '.proj p>code' rule in the base theme
    font-family: var(--code-font);
    font-size: 0.8em;
    padding: 1px 6px;
    color: var(--primary-color);
    background-color: var(--primary-pale-color);
    border-radius: 4px;
  }

  .prose {
    h2:first-of-type {
      padding-top: 1em;
    }

    .borderless table {
      border: none;

      thead:empty,
      tr:empty,
      th:empty {
        display: none
      }

      tr,
      td {
        border: none;
        line-height: 1.5;
      }
    }
  }
}
