<style>
    @font-face {
        font-display: swap;
        font-family: "Encode Sans";
        font-style: normal;
        font-weight: 100 900;
        src: url("/font/EncodeSans/EncodeSans-VariableFont_wdth,wght.ttf") format("truetype");
    }

    @font-face {
        font-display: swap;
        font-family: "Monaspace Argon Var";
        font-style: normal;
        font-weight: 100 900;
        font-feature-settings: "liga", "calt", "ss03", "ss04", "ss05", "ss06", "ss07", "ss08";
        src: url("/font/Monaspace/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2");
    }
</style>
