{% extends "serene/templates/projects.html" %}

{%block script%}
{{ super() }}
  {#
    Workaround for https://github.com/getzola/zola/issues/1070
    I'm not sure if footnotes were ever intended to work on the project page
    in this theme but :shrug: seems decent enough like this
  #}
  <script>
    document.addEventListener('DOMContentLoaded', (_event) => {
      for (const footnote of document.getElementsByClassName('footnote-definition')) {
        const label = footnote.firstElementChild;
        const definition = label.nextSibling;
        definition.insertBefore(footnote.removeChild(label), definition.firstChild);
      }
    });
  </script>
{% endblock script %}

{#
  Again, ideally would not have to redo the whole block just to replace
  one little div, but I don't know how to do it otherwise...
#}
{% block content %}
{% include "_header.html" %}
<div id="wrapper">
  <main>
    {% set data = load_data(path="content/projects/data.toml", format="toml") %}
    {% for proj in data.project %}
    <div class="proj">
      <p class="name">{{ proj.name }}</p>
      {% if proj.desc_file %}
      <div class="desc">{{ load_data(path=proj.desc_file) | trim | markdown | safe }}</div>
      {% else %}
      <div class="desc">{{ proj.desc | trim | markdown | safe }}</div>
      {% endif %}
      <div class="more">
        <div class="tags">
          {% for tag in proj.tags %}
          <div><span>#</span>{{ tag }}</div>
          {% endfor %}
        </div>
        <div class="links">
          {% for link in proj.links -%}
          <a href="{{ link.url }}" target="_blank" rel='noreferrer noopener'>{{ link.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </main>
  {% include "_footer.html" -%}
</div>
{% endblock content %}
